.cod{
    margin-top: 15px;
    background-color: rgb(221, 243, 243);
   
}
.titre{margin-bottom: 15px;}
.today{
    
    margin-top: 15px;
    background-color: rgb(127, 174, 250);
    height: 100px;
}
